* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
} 

#header {
    height: 150px;
    width: 100vw;
    background-image: url('img/pattern.png');
    background-size: contain;    
    background-color: dodgerblue;
}

#logo {
    margin-left: 50px;
    height: 60%;
    width: auto;
}

h3 {
    color: grey;
}

h5 {
    color: grey;
}

#columnist {
    color: dodgerblue;
}

p {
    padding-top: 15px;
    padding-bottom: 15px;
}

.row-one {
    background-color: dodgerblue;
    color: white;
}

.row-two {
    background-color: lightskyblue;
}

#highlighter {
    color: black;
    background-color: yellow;
}

ul {
    padding-top: 15px;
    padding-bottom: 15px;
}

#monitor {
    color: white;
    background-image: 'img/monitor.jpg';
}

#grafico {
    height: 60px;
    color: white;
    background-image: image('img/graph.jpg');
}
