#header {
    height: 20px;
    width: 100%;
    background-image: 'img/pattern.png';
    background-repeat: repeat;
}

h3 {
    color: grey;
}

h5 {
    color: grey;
}

#columnist {
    color: dodgerblue;
}

.row-one {
    background-color: dodgerblue;
    color: white;
}

.row-two {
    background-color: lightskyblue;
    
}

#highlighter {
    color: black;
    background-color: yellow;
}
#monitor {
    background-image: 'img/monitor.jpg';
}

#grafico {
    background-image: 'img/graph.jpg';
}
